.chart {
  margin: 20px;
  padding: 20px;
  box-shadow: -16px -4px 31px -20px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: -16px -4px 31px -20px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -16px -4px 31px -20px rgba(0, 0, 0, 0.56);
}
.chartTitle {
  margin-bottom: 20px;
}
